.npop {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, .7);
}

.npop .npop-content {
  left: 50%;
  margin-left: -360px;
  position: absolute;
  top: 150px;
  width: 720px;
  z-index: 1000;
  padding-bottom: 80px;
}
.npop .npop-content .node {
  background: none repeat scroll 0 0 #ffffff;
  padding: 30px;
}

.npop-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

body.npop-over {
  overflow: hidden;
}
